<div class="container mt-3">
  <h2>Patients</h2>
  <%= link_to "Add New Patient", new_patient_path, class: "btn btn-primary mb-3 p-2" %>
  <% if @patients.present? %>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.id %></td>
            <td><%= patient.full_name %></td>
            <td><%= patient.date_of_birth %></td>
            <td><%= patient.active? ? 'Active' : 'Inactive' %></td>
            <td>
              <%= link_to 'View', patient_path(patient), class: "btn btn-primary p-2 text-decoration-none text-white" %>
              <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-secondary p-2 text-decoration-none text-white" %>
              <%= button_to 'Destroy', patient_path(patient), method: :delete, class: "btn btn-danger p-2 mt-1 text-decoration-none text-white" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="fs-5 text-center bg-warning p-1 fw-bold text-dark">No patients found.</p>
  <% end %>
</div>