<div class="container mt-3">
  <div class="d-flex justify-content-between mb-3">
  <h3>Appointments</h3>
    <%= link_to "New Appointment", new_appointment_path, class: "btn btn-primary" %>
  </div>

  <div class="card shadow-sm">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Scheduled At</th>
            <th>Status</th>
            <th>Notes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appt| %>
            <tr>
              <td><%= appt.patient.full_name %></td>
              <td><%= appt.doctor.full_name %></td>
              <td><%= appt.scheduled_at.strftime("%B %d, %Y %I:%M %p") %></td>
             <td>
                <% status = appt.status.presence || "unscheduled" %>
                <span class="badge 
                  <%= status == "scheduled" ? "bg-info" : status == "completed" ? "bg-success" : "bg-danger" %>">
                  <%= status.capitalize %>
                </span>
              </td>

              <td><%= appt.notes %></td>
              <td>
                <%= link_to "Edit", edit_appointment_path(appt), class: "btn btn-sm btn-warning" %>
                <%= link_to "Delete", appointment_path(appt), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
